@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1;
    background: var(--container-bg);
}

:root {
    --container-bg:  hsl(210, 46%, 95%);

    --item-1-bg:hsl(263, 55%, 52%);
    --item-2-bg: hsl(217, 19%, 35%);
    --item-3-4-bg:hsl(0, 0%, 100%);
    --item-5-bg: hsl(219, 29%, 14%);

    --grid-container-max-width: 1400px;

    --primary-color: #f4f4f4;
    --secondary-color: #ccc;

    --py-y: 1.3rem;
}

/* Utility */
a {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: var(--primary-color);
}

#name {
    font-size: 1.1rem;
}

p {
    color: var(--secondary-color);
}

.py-y {
    margin-bottom: var(--py-y);
}

/* Main Section */



#main .container {
    padding: 10rem;
    height: 100vh;
}

#main .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    max-width: var(--grid-container-max-width);
    margin: auto;
}

#main .grid-container .grid-item {
    border-radius: 10px;
    padding: 2rem;
}

#main .grid-container .item-1 {
    background: var(--item-1-bg);
    grid-column: 1 / 5;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-size: 140px;
    background-position-x: 80%;
}

#main .grid-container .item-2 {
    background: var(--item-2-bg);
    grid-column: 5 / 7;
}

#main .grid-container .item-3 {
    background: var(--item-3-4-bg);
    grid-column: 7 / 9;
    grid-row: 1 / 3;
}

#main .grid-container .item-3 h1, #main .grid-container .item-4 h1 {
    color: var(--item-2-bg);
}

#main .grid-container .item-4 {
    background: var(--item-3-4-bg);
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}

#main .item-5 {
    background: var(--item-5-bg);
    color: #444;
    grid-column: 3 / 7;
}

#main .grid-container .flexbox-container {
    display: flex;
    align-items: center;
    padding-bottom: 0.9rem;
}

#main .grid-container .flexbox-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#main .grid-container .flexbox-container img {
    border-radius: 50%;
    border: 2px solid #eee;
    margin-right: 1rem;
}

/* Tablet and small laptops */
@media only screen and (max-width: 1224px) {
    #main .container {
        padding: 1rem;
        
    }

    #main .grid-container {
        display: flex;
        flex-direction: column;
    }
}

